In [2]:
import pandas as pd
import numpy as np
import random
import statistics
import math
from dateutil import parser
from datetime import datetime
from functools import reduce
import random
from random import choices

In [401]:
If we forward search one element at a time, most of covariances are wasted.

problem with directs aggregation: correlation is not preserved. Need finer granularity

print("hi")

hi

In [343]:
def is_numeric(df, att, impute_rate, cardinality):
    col = pd.to_numeric(df[att],errors="coerce")
    nan_count = sum(np.isnan(col))
    unique_count = len(col.unique())
    if nan_count/len(df) < impute_rate and unique_count/len(df) < cardinality:
        mean_value = col.mean()
        col.fillna(value=mean_value, inplace=True)
        return True, col
    else:
        return False, col

In [740]:
crime

,ID,Building Code,DBN,Location Name,Location Code,Address,Borough,Geographical District Code,Register,Building Name,...,AvgOfOth N,AvgOfNoCrim N,AvgOfProp N,AvgOfVio N,New Georeferenced Column,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,288,K247,20K247,PS 247(BROOKLYN),K247,7000 21st AVENUE,K,20,883.0,NaN,...,1.520000,3.880000,0.830000,0.910000,POINT (-76.974907 38.974981),10889,NaN,NaN,NaN,NaN
1,335,K281,21K281,IS 281(BS),K281,8787 24th AVENUE,K,21,1342.0,NaN,...,2.790000,6.710000,1.480000,1.470000,POINT (-104.885878 39.751528),20975,NaN,NaN,NaN,NaN
2,359,K298,23K298,PS 298(BROOKLYN),K298,85 WATKINS STREET,K,23,205.0,NaN,...,0.880000,1.690000,0.570000,0.450000,POINT (-73.908193 40.670936),17614,55.0,2.0,37.0,46.0
3,390,K318,14K318,JHS 318(BN),K318,101 WALTON STREET,K,14,1230.0,NaN,...,2.550000,6.100000,1.290000,1.480000,POINT (-79.670906 34.623679),27087,NaN,NaN,NaN,NaN
4,400,K327,23K327,PS 327(BROOKLYN),K327,111 BRISTOL STREET,K,23,299.0,NaN,...,1.030000,2.220000,0.550000,0.580000,POINT (-72.931594 41.315558),13460,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,1766,X174,NaN,456 WHITE PLAINS ROAD CONSOLIDATED LOCATION,NaN,456 WHITE PLAINS ROAD,X,8,1077.0,456 WHITE PLAINS ROAD CONSOLIDATED LOCATION,...,2.550000,6.100000,1.290000,1.480000,POINT (-81.729256 35.006166),23236,NaN,NaN,NaN,NaN
1915,1723,X149,07X221,SOUTH BRONX PREPARATORY:A COLLEGE BOARD SCHOOL...,X221,360 EAST 145 STREET,X,7,578.0,360 EAST 145 STREET CONSOLIDATED LOCATION,...,1.687442,4.130879,0.905108,0.924703,POINT (-73.232997 42.311995),12142,NaN,NaN,NaN,NaN
1916,1632,X100,08X100,PS 100(XE),X100,800 TAYLOR AVENUE,X,8,563.0,NaN,...,1.130000,2.410000,0.660000,0.570000,POINT (-73.863098 40.821837),11611,58.0,5.0,31.0,26.0
1917,1499,X002,NaN,1363 FULTON AVENUE CONSOLIDATED LOCATION,NaN,1363 FULTON AVENUE,X,9,688.0,1363 FULTON AVENUE CONSOLIDATED LOCATION,...,1.130000,2.410000,0.660000,0.570000,POINT (-73.902403 40.833741),10934,34.0,5.0,42.0,25.0
1918,1364,Q490,NaN,207-01 116 AVENUE CONSOLIDATED LOCATION,NaN,207-01 116 AVENUE,Q,29,1319.0,207-01 116 AVENUE CONSOLIDATED LOCATION,...,2.790000,6.710000,1.480000,1.470000,POINT (-73.745876 40.697771),15311,63.0,3.0,6.0,63.0

1134704989.3802657

In [765]:
gender_crime = pd.merge(gender, crime, left_on="DBN", right_on="DBN")
gender_crime[["Mean Scale Score", "Register"]]

       Mean Scale Score  Register
0                 285.0     165.0
1                 292.0     165.0
2                   NaN     165.0
3                   NaN     165.0
4                 289.0     165.0
...                 ...       ...
43411             274.0     348.0
43412             286.0     348.0
43413             282.0     348.0
43414             289.0     348.0
43415             284.0     348.0

[43416 rows x 2 columns]

In [734]:
crimedata.covariance["cov:Q:crime:Register,crime:Register"]

591300.1507974287

In [760]:
(gender_crime["Register"]*gender_crime["Register"]).sum()

21043169495.61445

In [687]:
gender_crime[["Mean Scale Score", "Register"]]

       Mean Scale Score  Register
0                 285.0     165.0
1                 292.0     165.0
2                   NaN     165.0
3                   NaN     165.0
4                 289.0     165.0
...                 ...       ...
43411             274.0     348.0
43412             286.0     348.0
43413             282.0     348.0
43414             289.0     348.0
43415             284.0     348.0

[43416 rows x 2 columns]

In [604]:
def normalize(cov):
    cols = []
    
    if isinstance(cov, pd.DataFrame):
        cols = cov.columns
    else:
        cols = list(cov.axes[0])
        
    for col in cols:
        if col != 'cov:c':
            cov[col] = cov[col]/cov['cov:c']
    cov['cov:c'] = 1
    return cov

class agg_dataset:
    def load_buyer(self, data, X, y, dimensions, name):
        self.data = data
        self.dimensions = dimensions
        self.X = X
        self.y = y
        self.name = name
        
        # don't impute y
        self.to_numeric(self.y, False)
        for x in self.X:
            self.to_numeric(x, False)
        
        self.X =  [self.y] + self.X
        
        dedup_dimensions = set()
        for d in dimensions:
            if isinstance(d, list):
                dedup_dimensions.update(d)
            else:
                dedup_dimensions.add(d)
        dedup_dimensions = list(dedup_dimensions)
        
        # project out attributes except x, y, dim
        self.data = self.data[self.X  + dedup_dimensions]
        
        self.lift(self.name, self.X)
        
        self.agg_dimensions = dict()
        
        for d in dimensions:
            if isinstance(d, list):
                self.agg_dimensions[tuple(d)] = self.data[list(filter(lambda col: col.startswith("cov:"), self.data.columns)) + d].groupby(d).sum()
            else:
                self.agg_dimensions[d] = self.data[list(filter(lambda col: col.startswith("cov:"), self.data.columns)) + [d]].groupby(d).sum()
            
        
        self.covariance = normalize(self.data[list(filter(lambda col: col.startswith("cov:"), self.data.columns))].sum())
        
    def load_seller(self, data, dimensions, name):
        self.data = data
        self.dimensions = dimensions
        self.name = name
        
        # find numeric attributes as features
        atts = []
        for att in crime.columns:
            cond, col = self.is_numeric(att, 0.4, 2)
            if cond:
                self.data[att] = col
                atts.append(att)
        
        self.X = atts
        
        dedup_dimensions = set()
        for d in dimensions:
            if isinstance(d, list):
                dedup_dimensions.update(d)
            else:
                dedup_dimensions.add(d)
        dedup_dimensions = list(dedup_dimensions)
        
        # project out attributes except x, y, dim
        self.data = self.data[self.X + dedup_dimensions]
        
        self.lift(self.name, self.X)
        
        self.agg_dimensions = dict()
        
        for d in dimensions:
            if isinstance(d, list):
                self.agg_dimensions[tuple(d)] = normalize(self.data[list(filter(lambda col: col.startswith("cov:"), self.data.columns)) + d].groupby(d).sum())
            else:
                self.agg_dimensions[d] = normalize(self.data[list(filter(lambda col: col.startswith("cov:"), self.data.columns)) + [d]].groupby(d).sum())
        
        self.covariance = normalize(self.data[list(filter(lambda col: col.startswith("cov:"), self.data.columns))].sum())
        
    def is_numeric(self, att, impute_rate, cardinality):
        col = pd.to_numeric(self.data[att],errors="coerce")
        nan_count = sum(np.isnan(col))
        unique_count = len(col.unique())
        if nan_count/len(self.data) < impute_rate and unique_count/len(self.data) < cardinality:
            mean_value = col.mean()
            col.fillna(value=mean_value, inplace=True)
            return True, col
        else:
            return False, col
    
    def to_numeric(self, att, impute=True, impute_rate = 1):
        # parse attribute to numeric
        self.data[att] = pd.to_numeric(self.data[att],errors="coerce")
        # count the number of nan
        nan_count = sum(np.isnan(self.data[att]))
        
        if impute:
            # impute error only if missing rate is not above threshold
            if nan_count/len(self.data) < impute_rate:
                mean_value=self.data[att].mean()
                self.data[att].fillna(value=mean_value, inplace=True)
                return True
            else:
                return False
        else:
            # else, remove records with missing value
            self.data = self.data[~np.isnan(self.data[att])]
    
    def lift(self, tablename, attributes):
        self.data['cov:c'] = 1

        for i in range(len(attributes)):
            for j in range(i, len(attributes)):
                self.data['cov:Q:' + tablename + ":" + attributes[i] + ","+ tablename + ":" + attributes[j]] = self.data[attributes[i]] * self.data[attributes[j]]

        for attribute in attributes:
            self.data= self.data.rename(columns = {attribute:'cov:s:' + tablename + ":" + attribute})

In [605]:
%%time
genderdata = agg_dataset()
genderdata.load_buyer(gender, ["Number Tested"], "Mean Scale Score", ["DBN", ["School Name"], "Grade", "Year", "Category"], "gender")

CPU times: user 78.4 ms, sys: 92 µs, total: 78.5 ms
Wall time: 76.6 ms

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [681]:
total_sum_of_square(genderdata.agg_dimensions["DBN"].sum(), "gender:Mean Scale Score")

16228455.420372486

In [541]:
normalize(genderdata.agg_dimensions["DBN"])

cov:s:gender:Number Tested
cov:s:gender:Mean Scale Score
cov:c
cov:Q:gender:Number Tested,gender:Number Tested
cov:Q:gender:Number Tested,gender:Mean Scale Score
cov:Q:gender:Mean Scale Score,gender:Mean Scale Score

,cov:s:gender:Number Tested,cov:s:gender:Mean Scale Score,cov:c,"cov:Q:gender:Number Tested,gender:Number Tested","cov:Q:gender:Number Tested,gender:Mean Scale Score","cov:Q:gender:Mean Scale Score,gender:Mean Scale Score"
DBN,,,,,,
01M015,0.000521,0.008845,1,0.011879,0.150848,0.031250
01M019,0.000379,0.004797,1,0.012538,0.116218,0.025000
01M020,0.000877,0.004615,1,0.066520,0.258446,0.025000
01M034,0.000103,0.000861,1,0.007552,0.030445,0.014286
01M063,0.000961,0.017250,1,0.020905,0.291197,0.038462
...,...,...,...,...,...,...
32K377,0.000124,0.000817,1,0.011131,0.034548,0.014286
32K383,0.001382,0.002525,1,0.395397,0.435630,0.020000
32K384,0.000152,0.000857,1,0.016443,0.044816,0.014286
32K554,0.000684,0.005104,1,0.041850,0.224056,0.025000
32K562,0.001832,0.007107,1,0.166948,0.511203,0.029412

In [720]:
%%time
crimedata = agg_dataset()
crimedata.load_seller(crime, ["DBN"], "crime")

CPU times: user 199 ms, sys: 4.4 ms, total: 203 ms
Wall time: 192 ms

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:126: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [566]:
crimedata.agg_dimensions["DBN"]

,cov:s:crime:ID,cov:s:crime:Geographical District Code,cov:s:crime:Register,cov:s:crime:# Schools,cov:s:crime:Major N,cov:s:crime:Oth N,cov:s:crime:NoCrim N,cov:s:crime:Prop N,cov:s:crime:Vio N,cov:s:crime:AvgOfMajor N,...,"cov:Q:crime:AvgOfNoCrim N,crime:AvgOfNoCrim N","cov:Q:crime:AvgOfNoCrim N,crime:AvgOfProp N","cov:Q:crime:AvgOfNoCrim N,crime:AvgOfVio N","cov:Q:crime:AvgOfNoCrim N,crime:Zip Codes","cov:Q:crime:AvgOfProp N,crime:AvgOfProp N","cov:Q:crime:AvgOfProp N,crime:AvgOfVio N","cov:Q:crime:AvgOfProp N,crime:Zip Codes","cov:Q:crime:AvgOfVio N,crime:AvgOfVio N","cov:Q:crime:AvgOfVio N,crime:Zip Codes","cov:Q:crime:Zip Codes,crime:Zip Codes"
DBN,,,,,,,,,,,,,,,,,,,,,
01M015,641.0,1.0,165.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,...,2.856100,0.96330,0.760500,21664.110000,0.32490,0.256500,7306.830000,0.202500,5768.550000,164326761.0
01M019,645.0,1.0,254.0,2.0,0.387234,1.698723,4.169362,0.916596,0.929362,0.385263,...,17.064158,3.73889,3.819835,100995.849742,0.81922,0.836956,22128.977321,0.855075,22608.059793,597753601.0
01M020,648.0,1.0,463.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,...,4.928400,1.22100,1.287600,37482.480000,0.30250,0.319000,9286.200000,0.336400,9792.720000,285069456.0
01M034,660.0,1.0,320.0,1.0,0.000000,0.000000,7.000000,0.000000,0.000000,0.250000,...,4.928400,1.22100,1.287600,28760.100000,0.30250,0.319000,7125.250000,0.336400,7513.900000,167832025.0
01M063,699.0,1.0,182.0,2.0,0.387234,1.698723,4.169362,0.916596,0.929362,0.385263,...,17.064158,3.73889,3.819835,127664.801680,0.81922,0.836956,27972.352412,0.855075,28577.941344,955119025.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85X157,1738.0,85.0,587.0,1.0,0.000000,1.000000,0.000000,1.000000,0.000000,0.260000,...,5.808100,1.59060,1.373700,49192.920000,0.43560,0.376200,13471.920000,0.324900,11634.840000,416649744.0
85X195,1590.0,12.0,911.0,2.0,0.387234,1.698723,4.169362,0.916596,0.929362,0.385263,...,17.064158,3.73889,3.819835,47959.500000,0.81922,0.836956,10508.300000,0.855075,10735.800000,134792100.0
85X196,1591.0,12.0,907.0,2.0,0.387234,1.698723,4.169362,0.916596,0.929362,0.385263,...,17.064158,3.73889,3.819835,47959.500000,0.81922,0.836956,10508.300000,0.855075,10735.800000,134792100.0
88K823,163.0,15.0,1.0,3.0,0.387234,1.698723,4.169362,0.916596,0.929362,0.385263,...,17.064158,3.73889,3.819835,70229.066279,0.81922,0.836956,15387.735426,0.855075,15720.873023,289034001.0
PS 161(BRONX),1746.0,7.0,428.0,1.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.250000,...,4.928400,1.22100,1.287600,24271.260000,0.30250,0.319000,6013.150000,0.336400,6341.140000,119530489.0

In [477]:
parameter = linear_regression(crimedata.covariance, ["ID"], "Register", "crime")
r2(crimedata.covariance, ["ID"], "Register", parameter, "crime")

0.00270470284023272

In [761]:
# return the coefficients of features and a constant 
def linear_regression(cov_matrix, features, result):
    a = np.empty([len(features) + 1, len(features) + 1])
    b = np.empty(len(features) + 1)
    
    for i in range(len(features)):
        for j in range(len(features)):
            i, j = min(i,j), max(i,j)
            a[i][j] = cov_matrix['cov:Q:' + features[i] + ","+ features[j]]
    
    for i in range(len(features)):
        a[i][len(features)] = cov_matrix['cov:s:' + features[i]]
        a[len(features)][i] = cov_matrix['cov:s:' + features[i]]
        b[i] = cov_matrix['cov:Q:' + result + "," + features[i]]
    
    b[len(features)] = cov_matrix['cov:s:' + result]
    
    a[len(features)][len(features)] = cov_matrix['cov:c']
    print(a)
    print(b)
    return np.linalg.solve(a, b)

def square_error(cov_matrix, features, result, parameter):
    se = cov_matrix['cov:Q:'  + result + "," + result]

    for i in range(len(features)):
        for j in range(len(features)):
            i, j = min(i,j), max(i,j)
            se += parameter[i] * parameter[j] * cov_matrix['cov:Q:'  + features[i] + "," + features[j]]

    for i in range(len(features)):
        se += 2 * parameter[i] * parameter[-1] * cov_matrix['cov:s:'  + features[i]]
        se -= 2 * parameter[i] *  cov_matrix['cov:Q:' + result + "," + features[i]]

    se -= 2 * parameter[-1] * cov_matrix['cov:s:'  + result]
    se += cov_matrix['cov:c'] * parameter[-1] * parameter[-1]

    return se

def total_sum_of_square(cov_matrix, result):
    return cov_matrix['cov:Q:'  + result + "," + result] - cov_matrix['cov:s:'  + result] * cov_matrix['cov:s:'  + result] / cov_matrix['cov:c']

def mean_squared_error(cov_matrix, features, result, parameter):
    return square_error(cov_matrix, features, result, parameter)/cov_matrix['cov:c']


def r2(cov_matrix, features, result, parameter):
    print(total_sum_of_square(cov_matrix, result))
    return 1 - square_error(cov_matrix, features, result, parameter)/total_sum_of_square(cov_matrix, result)

def adjusted_r2(cov_matrix, features, result, parameter):
    return 1 - (cov_matrix['cov:c']-1)*(1 - r2(cov_matrix, features, result, parameter))/(cov_matrix['cov:c'] - len(parameter) - 1)

In [762]:
parameter = linear_regression(genderdata.covariance, ["gender:Number Tested"], "gender:Mean Scale Score")
r2(genderdata.covariance, ["gender:Number Tested"], "gender:Mean Scale Score", parameter)

[[1.53253926e+04 8.17492278e+01]
 [8.17492278e+01 1.00000000e+00]]
[24654.37662365   299.48692617]
343.3140558572486

0.0099188444284658

In [448]:
tuple([2,4])

(2, 4)

In [441]:
crime = pd.read_csv("crime.csv")

In [597]:
crimedata.covariance['cov:s:' + right_tablename + ":" + att2]

NameError: name 'right_tablename' is not defined

In [756]:
def connect(aggdata1, aggdata2, dimension):
    if isinstance(dimension, list):
        dimension = tuple(dimension)
        
    agg1 = aggdata1.agg_dimensions[dimension]
    agg2 = aggdata2.agg_dimensions[dimension]
    
#     join = pd.merge(agg1, agg2, how='left', left_index=True, right_index=True)
    join = pd.merge(agg1, agg2, how='inner', left_index=True, right_index=True)
    join = join.drop('cov:c_y', 1)
    join = join.rename(columns = {'cov:c_x':'cov:c'})
    
    left_attributes = aggdata1.X
    left_tablename = aggdata1.name
    right_attributes = aggdata2.X
    right_tablename = aggdata2.name
    
    right_cov = aggdata2.covariance
    
    # fill in nan
    for att2 in right_attributes:
        join['cov:s:' + right_tablename + ":" + att2].fillna(value=right_cov['cov:s:' + right_tablename + ":" + att2], inplace=True)
        join['cov:s:' + right_tablename + ":" + att2] *= join['cov:c']
    
    for i in range(len(right_attributes)):
        for j in range(i, len(right_attributes)):
            join['cov:Q:' + right_tablename + ":" + right_attributes[i] + ","+ right_tablename + ":" + right_attributes[j]] *= join['cov:c']
    
    
    for att1 in left_attributes:
        for att2 in right_attributes:
            join['cov:Q:' + left_tablename + ":" + att1 + ","+ right_tablename + ":" + att2] = join['cov:s:' + left_tablename + ":" + att1] * join['cov:s:' + right_tablename + ":" + att2]/join['cov:c']
    
    return join

In [757]:
%%time
join = connect(genderdata, crimedata, "DBN")

CPU times: user 97 ms, sys: 0 ns, total: 97 ms
Wall time: 92.6 ms

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  # Remove the CWD from sys.path while we load stuff.

In [763]:
# join.sum()

parameter = linear_regression(join.sum(), ["crime:Register"], "gender:Mean Scale Score")
# square_error(join.sum(), ["crime:Register"], "gender:Mean Scale Score", parameter)
# total_sum_of_square(join.sum(), "gender:Mean Scale Score")
r2(join.sum(), ["crime:Register"], "gender:Mean Scale Score", parameter)

[[2.09999548e+10 2.61173136e+07]
 [2.61173136e+07 4.30540000e+04]]
[7.91548995e+09 1.29228590e+07]
14683867.07755375

0.07679579893042432

In [748]:
square_error(join.sum(), ["crime:Register"], "gender:Mean Scale Score", parameter)

3893540297.0
3893551916.1205573
3893528677.879442
-3941965312.7074385
15062176.303714275

15062176.303714275

In [749]:
total_sum_of_square(join.sum(), "gender:Mean Scale Score")

14683867.07755375

In [759]:
parameter

array([1.47877339e-02, 2.91184167e+02])

In [764]:
join["cov:c"].sum()

43054

In [668]:
join.sum()["cov:Q:gender:Mean Scale Score,gender:Mean Scale Score"]

4255989099.0

In [615]:
'cov:Q:gender:Number Tested,crime:Register' in join.sum().axes[0]

True

In [240]:
%%time
crime["cov"] = crime.apply(lambda row: cov.lift(row, "crime", atts), axis=1)

CPU times: user 3.04 s, sys: 1.58 ms, total: 3.04 s
Wall time: 3.04 s

In [260]:
%%time
lift(crime, "crime", atts)

CPU times: user 58.6 ms, sys: 4.58 ms, total: 63.2 ms
Wall time: 58.4 ms

In [319]:
%%time
crime.sum()

CPU times: user 21.7 ms, sys: 218 µs, total: 22 ms
Wall time: 20.1 ms

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

ID                                                                                   1868188
Building Code                              K247K281K298K318K327K369K410K728M020M171M540M8...
Location Name                              PS 247(BROOKLYN)IS 281(BS)PS 298(BROOKLYN)JHS ...
Address                                    7000 21st AVENUE8787  24th AVENUE85 WATKINS ST...
Borough                                    KKKKKKKKMMMMQQRRXXXXXXXXXXMMKQMMMKKQQMKKQKQMMM...
                                                                 ...
cov:Q:crime:AvgOfProp Ncrime:AvgOfVio N                                          2076.527968
cov:Q:crime:AvgOfProp Ncrime:Zip Codes                                       26021772.606313
cov:Q:crime:AvgOfVio Ncrime:AvgOfVio N                                           2166.171713
cov:Q:crime:AvgOfVio Ncrime:Zip Codes                                        26600008.255375
cov:Q:crime:Zip Codescrime:Zip Codes                                            537034696869
Length: 161, dtype: object

In [254]:
%%time
crime["ID"] * crime["Geographical District Code"]

CPU times: user 340 µs, sys: 0 ns, total: 340 µs
Wall time: 325 µs

0        5760
1        7035
2        8257
3        5460
4        9200
        ...
1914    14128
1915    12061
1916    13056
1917    13491
1918    39556
Length: 1919, dtype: int64

In [211]:
crime.groupby("DBN").agg({"cov": lambda series: reduce(lambda x, y: cov.add(x, y), series)})

                                                             cov
DBN
01M015         {'c': 1, 's': {'crime:ID': 641, 'crime:Geograp...
01M019         {'c': 1, 's': {'crime:ID': 645, 'crime:Geograp...
01M020         {'c': 1, 's': {'crime:ID': 648, 'crime:Geograp...
01M034         {'c': 1, 's': {'crime:ID': 660, 'crime:Geograp...
01M063         {'c': 1, 's': {'crime:ID': 699, 'crime:Geograp...
...                                                          ...
85X157         {'c': 1, 's': {'crime:ID': 1738, 'crime:Geogra...
85X195         {'c': 1, 's': {'crime:ID': 1590, 'crime:Geogra...
85X196         {'c': 1, 's': {'crime:ID': 1591, 'crime:Geogra...
88K823         {'c': 1, 's': {'crime:ID': 163, 'crime:Geograp...
PS 161(BRONX)  {'c': 1, 's': {'crime:ID': 1746, 'crime:Geogra...

[1645 rows x 1 columns]

In [215]:
join = pd.merge(genderdata.agg_dimensions["DBN"], crime.groupby("DBN").agg({"cov": lambda series: reduce(lambda x, y: cov.add(x, y), series)}), left_index=True, right_index=True)

In [217]:
join["cov"] = join.apply(lambda row: cov.multiply(row["cov_x"], row["cov_y"] ), axis=1)

In [507]:
# cov_matrix = join.agg({"cov": lambda series: reduce(lambda x, y: cov.add(x, y), series)}).iloc[0]

In [239]:
best_r2 = 0
best_att = -1
for att in cov_matrix['s'].keys():
    if att == 'gender:Mean Scale Score':
        continue
    parameter = linear_regression(cov_matrix, ["gender:Number Tested",att], "gender:Mean Scale Score")
    cur_r2 = r2(cov_matrix, ["gender:Number Tested",att], "gender:Mean Scale Score", parameter)
    if cur_r2 > best_r2:
        best_r2 = cur_r2
        best_att = att
print(best_r2, best_att)

0.08091140780075012 crime:Register

In [332]:
parameter = linear_regression(cov_matrix, ['crime:Register', 'gender:Number Tested', 'crime:# Schools', 'crime:AvgOfMajor N', 'crime:NoCrim N', 'crime:ID', 'crime:AvgOfNoCrim N', 'crime:AvgOfOth N', 'crime:Zip Codes', 'crime:AvgOfVio N', 'crime:Geographical District Code', 'crime:AvgOfProp N'], "gender:Mean Scale Score")
r2(cov_matrix, ['crime:Register', 'gender:Number Tested', 'crime:# Schools', 'crime:AvgOfMajor N', 'crime:NoCrim N', 'crime:ID', 'crime:AvgOfNoCrim N', 'crime:AvgOfOth N', 'crime:Zip Codes', 'crime:AvgOfVio N', 'crime:Geographical District Code', 'crime:AvgOfProp N'], "gender:Mean Scale Score", parameter)

0.13218764212317957

In [167]:
%%time
join = pd.merge(gender, crime, how='inner', left_on = 'DBN', right_on = 'DBN')

CPU times: user 55.2 ms, sys: 3.75 ms, total: 59 ms
Wall time: 56.5 ms

In [161]:
gender.groupby(["DBN", "Year"]).mean()

             Number Tested  Mean Scale Score
DBN    Year
01M015 2013      17.750000        283.250000
       2014      15.750000        277.333333
       2015      14.000000        282.333333
       2016      12.750000        295.000000
       2017      16.750000        308.875000
...                    ...               ...
32K562 2013      71.500000        272.500000
       2014      74.666667        271.166667
       2015      77.250000        276.250000
       2016      66.500000        284.000000
       2017      70.500000        287.375000

[5543 rows x 2 columns]

In [136]:
gender = pd.read_csv("gender.csv")
gender

,DBN,School Name,Grade,Year,Category,Number Tested,Mean Scale Score,Level1_N,Level1_%,Level2_N,Level2_%,Level3_N,Level3_%,Level4_N,Level4_%,Level3+4_N,Level3+4_%
0,01M015,PS 015 ROBERTO CLEMENTE,3,2013,Female,12,285,7,58.3,5,41.7,0,0.0,0,0.0,0,0.0
1,01M015,PS 015 ROBERTO CLEMENTE,3,2013,Male,15,292,7,46.7,6,40.0,2,13.3,0,0.0,2,13.3
2,01M015,PS 015 ROBERTO CLEMENTE,3,2014,Female,13,s,s,s,s,s,s,s,s,s,s,s
3,01M015,PS 015 ROBERTO CLEMENTE,3,2014,Male,5,s,s,s,s,s,s,s,s,s,s,s
4,01M015,PS 015 ROBERTO CLEMENTE,3,2015,Female,7,289,3,42.9,3,42.9,1,14.3,0,0.0,1,14.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47730,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2015,Male,161,274,98,60.9,52,32.3,11,6.8,0,0.0,11,6.8
47731,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2016,Female,125,286,48,38.4,63,50.4,12,9.6,2,1.6,14,11.2
47732,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2016,Male,141,282,62,44.0,70,49.6,9,6.4,0,0.0,9,6.4
47733,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2017,Female,138,289,49,35.5,70,50.7,14,10.1,5,3.6,19,13.8
47734,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2017,Male,144,284,55,38.2,79,54.9,9,6.3,1,0.7,10,6.9

In [102]:
gender["Mean Scale Score"] = pd.to_numeric(gender["Mean Scale Score"],errors="coerce")

In [105]:
sum(np.isnan(gender["Mean Scale Score"]))

465

In [18]:
gender[["Mean Scale Score", "Number Tested"]]

       Mean Scale Score  Number Tested
0                 285.0             12
1                 292.0             15
4                 289.0              7
5                 276.0              9
8                 308.0             13
...                 ...            ...
47730             274.0            161
47731             286.0            125
47732             282.0            141
47733             289.0            138
47734             284.0            144

[47270 rows x 2 columns]

In [23]:
%%time
# slow because dataframe apply copies row and apply function one by one
gender["cov"] = gender.apply(lambda row: cov.lift(row, "gender", ["Mean Scale Score", "Number Tested"]), axis=1)

CPU times: user 2.34 s, sys: 6.84 ms, total: 2.35 s
Wall time: 2.35 s

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [84]:
grade = gender.groupby("Grade").agg({"cov": lambda series: reduce(lambda x, y: cov.add(x, y), series)})

In [100]:
gender.groupby("Year").mean()

      Number Tested  Mean Scale Score
Year
2013      84.762075        295.774558
2014      83.330172        295.788127
2015      81.170757        296.739387
2016      79.932806        303.642879
2017      79.697036        305.237007

In [83]:
%%time
# marginalize all attributes
cov_matrix = gender.agg({"cov": lambda series: reduce(lambda x, y: cov.add(x, y), series)}).iloc[0]

CPU times: user 237 ms, sys: 0 ns, total: 237 ms
Wall time: 235 ms

In [340]:
%%time
parameter = linear_regression(cov_matrix, ["gender:Number Tested"], "gender:Mean Scale Score")
parameter

CPU times: user 230 µs, sys: 43 µs, total: 273 µs
Wall time: 279 µs

array([1.87138466e-02, 2.98600968e+02])

In [155]:
parameter = ridge_linear_regression(cov_matrix, ["gender:Number Tested"], "gender:Mean Scale Score",10000000)
parameter

array([1.93755959e-02, 2.97902986e+02])

array([1.98498731e-02, 2.97864214e+02])

In [50]:
square_error(cov_matrix, ["gender:Number Tested"], "gender:Mean Scale Score", parameter)

339.9087771470889

In [54]:
total_sum_of_square(cov_matrix, "gender:Mean Scale Score")

16228455.420372486

In [341]:
r2(cov_matrix, ["gender:Number Tested"], "gender:Mean Scale Score", parameter)

0.008981579685800378

In [342]:
adjusted_r2(cov_matrix, ["gender:Number Tested"], "gender:Mean Scale Score", parameter)

0.008935540410507592

In [56]:
1 - square_error(cov_matrix, ["gender:Number Tested"], "gender:Mean Scale Score", parameter)/total_sum_of_square(cov_matrix, "gender:Mean Scale Score")

0.009918844428504325

In [307]:
%%time
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(genderdata.data[["Number Tested","Level1_%","Level2_%","Level3_%","Level4_%"]], genderdata.data[["Mean Scale Score"]])
print(reg.coef_)
print(reg.intercept_)

[[-0.00294854 -0.79722224 -0.35483165  0.01766236  0.22090017]]
[335.96515967]
CPU times: user 34.1 ms, sys: 170 µs, total: 34.3 ms
Wall time: 32.4 ms

In [283]:
genderdata.data

,DBN,School Name,Grade,Year,Category,Number Tested,Mean Scale Score,Level1_N,Level1_%,Level2_N,Level2_%,Level3_N,Level3_%,Level4_N,Level4_%,Level3+4_N,Level3+4_%,cov
0,01M015,PS 015 ROBERTO CLEMENTE,3,2013,Female,12,285.0,7,58.3,5,41.7,0,0.0,0,0.0,0,0.0,"{'c': 1, 's': {'gender:Mean Scale Score': 285...."
1,01M015,PS 015 ROBERTO CLEMENTE,3,2013,Male,15,292.0,7,46.7,6,40.0,2,13.3,0,0.0,2,13.3,"{'c': 1, 's': {'gender:Mean Scale Score': 292...."
4,01M015,PS 015 ROBERTO CLEMENTE,3,2015,Female,7,289.0,3,42.9,3,42.9,1,14.3,0,0.0,1,14.3,"{'c': 1, 's': {'gender:Mean Scale Score': 289...."
5,01M015,PS 015 ROBERTO CLEMENTE,3,2015,Male,9,276.0,6,66.7,2,22.2,1,11.1,0,0.0,1,11.1,"{'c': 1, 's': {'gender:Mean Scale Score': 276...."
8,01M015,PS 015 ROBERTO CLEMENTE,3,2017,Female,13,308.0,4,30.8,4,30.8,3,23.1,2,15.4,5,38.5,"{'c': 1, 's': {'gender:Mean Scale Score': 308...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47730,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2015,Male,161,274.0,98,60.9,52,32.3,11,6.8,0,0.0,11,6.8,"{'c': 1, 's': {'gender:Mean Scale Score': 274...."
47731,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2016,Female,125,286.0,48,38.4,63,50.4,12,9.6,2,1.6,14,11.2,"{'c': 1, 's': {'gender:Mean Scale Score': 286...."
47732,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2016,Male,141,282.0,62,44.0,70,49.6,9,6.4,0,0.0,9,6.4,"{'c': 1, 's': {'gender:Mean Scale Score': 282...."
47733,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2017,Female,138,289.0,49,35.5,70,50.7,14,10.1,5,3.6,19,13.8,"{'c': 1, 's': {'gender:Mean Scale Score': 289...."
47734,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2017,Male,144,284.0,55,38.2,79,54.9,9,6.3,1,0.7,10,6.9,"{'c': 1, 's': {'gender:Mean Scale Score': 284...."

In [153]:
from sklearn.linear_model import Ridge
reg = Ridge(alpha=10000000).fit(genderdata.data[["Number Tested"]], genderdata.data[["Mean Scale Score"]])
print(reg.coef_)
print(reg.intercept_)

[[0.0193756]]
[297.90298616]

In [325]:
%%time
reg = Ridge(alpha=10000000).fit(crime[['ID',
 'Geographical District Code',
 'Register',
 '# Schools',
 'Major N',
 'Oth N',
 'NoCrim N',
 'Prop N',
 'Vio N',
 'AvgOfMajor N',
 'AvgOfOth N',
 'AvgOfNoCrim N',
 'AvgOfProp N',
 'AvgOfVio N']], crime[['Zip Codes']])

CPU times: user 4.59 ms, sys: 3.43 ms, total: 8.02 ms
Wall time: 5.78 ms

In [52]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

print(mean_squared_error(gender[["Mean Scale Score"]], reg.predict(gender[["Number Tested"]])))
r2_score(gender[["Mean Scale Score"]], reg.predict(gender[["Number Tested"]]))

339.90877714710166

0.009918844428457474

In [154]:
class covariance_semiring:
    # table names is to differentiate attributes with the same name but from different tables
    # attributes are the set of relatated attributes for regression
    def lift(self, row, tablename, attributes):
        e = dict()
        e['c'] = 1
        e['s'] = dict()
        for attribute in attributes:
            e['s'][tablename + ":" + attribute] = row[attribute]
        e['Q'] = dict()
        for attribute1 in attributes:
            for attribute2 in attributes:
                if tablename + ":" + attribute1 not in e['Q']:
                    e['Q'][tablename + ":" + attribute1] = dict()
                
                e['Q'][tablename + ":" + attribute1][tablename + ":" + attribute2] = row[attribute1] * row[attribute2]
        return e
    
    def add(self, e_a, e_b):
        e = dict()
        e['c'] = e_a['c'] + e_b['c']
        e['s'] = dict()
        attributes = set(e_a['s'].keys()).union(set(e_b['s'].keys()))
        for attribute in attributes:
            e['s'][attribute] = e_a['s'].get(attribute, 0) + e_b['s'].get(attribute, 0)
        e['Q'] = dict()
        for attribute1 in attributes:
            for attribute2 in attributes:
                if attribute1 not in e['Q']:
                    e['Q'][attribute1] = dict()
                e['Q'][attribute1][attribute2] = e_a['Q'].get(attribute1, {}).get(attribute2, 0)\
                                               + e_b['Q'].get(attribute1, {}).get(attribute2, 0)
        return e
    
    
    def minus(self, e_a, e_b):
        e = dict()
        e['c'] = e_a['c'] - e_b['c']
        e['s'] = dict()
        attributes = set(e_a['s'].keys()).union(set(e_b['s'].keys()))
        for attribute in attributes:
            e['s'][attribute] = e_a['s'].get(attribute, 0) - e_b['s'].get(attribute, 0)
        e['Q'] = dict()
        for attribute1 in attributes:
            for attribute2 in attributes:
                if attribute1 not in e['Q']:
                    e['Q'][attribute1] = dict()
                e['Q'][attribute1][attribute2] = e_a['Q'].get(attribute1, {}).get(attribute2, 0)\
                                               - e_b['Q'].get(attribute1, {}).get(attribute2, 0)
        return e
    
    def multiply(self, e_a, e_b):
        e = dict()
        e['c'] = e_a['c'] * e_b['c']
        e['s'] = dict()
        attributes = set(e_a['s'].keys()).union(set(e_b['s'].keys()))
        for attribute in attributes:
            e['s'][attribute] = e_a['s'].get(attribute, 0)*e_b['c'] + e_b['s'].get(attribute, 0)*e_a['c']
        e['Q'] = dict()
        for attribute1 in attributes:
            for attribute2 in attributes:
                if attribute1 not in e['Q']:
                    e['Q'][attribute1] = dict()
                e['Q'][attribute1][attribute2] = e_a['Q'].get(attribute1, {}).get(attribute2, 0)*e_b['c']\
                                               + e_b['Q'].get(attribute1, {}).get(attribute2, 0)*e_a['c']\
                                               + e_a['s'].get(attribute1, 0)*e_b['s'].get(attribute2, 0)\
                                               + e_a['s'].get(attribute2, 0)*e_b['s'].get(attribute1, 0)
        return e

def corr(cov_matrix, attr1, attr2):
    return (cov_matrix["Q"][attr1][attr2] - cov_matrix["s"][attr1]*cov_matrix["s"][attr2]/cov_matrix["c"])/\
            math.sqrt((cov_matrix["Q"][attr1][attr1] - pow(cov_matrix["s"][attr1],2)/cov_matrix["c"]) * \
                      (cov_matrix["Q"][attr2][attr2] - pow(cov_matrix["s"][attr2],2)/cov_matrix["c"]))

cov = covariance_semiring()

# return the coefficients of features and a constant 
def linear_regression(cov_matrix, features, result):
    a = np.empty([len(features) + 1, len(features) + 1])
    b = np.empty(len(features) + 1)
    
    for i in range(len(features)):
        for j in range(len(features)):
            a[i][j] = cov_matrix['Q'][features[i]][features[j]]
    
    for i in range(len(features)):
        a[i][len(features)] = cov_matrix['s'][features[i]]
        a[len(features)][i] = cov_matrix['s'][features[i]]
        b[i] = cov_matrix['Q'][result][features[i]]
    
    b[len(features)] = cov_matrix['s'][result]
    
    a[len(features)][len(features)] = cov_matrix['c']
    
    return np.linalg.solve(a, b)

# return the coefficients of features and a constant 
def ridge_linear_regression(cov_matrix, features, result, alpha):
    a = np.empty([len(features) + 1, len(features) + 1])
    b = np.empty(len(features) + 1)
    
    for i in range(len(features)):
        for j in range(len(features)):
            a[i][j] = cov_matrix['Q'][features[i]][features[j]]
        if i == j:
            a[i][i] += alpha
    
    for i in range(len(features)):
        a[i][len(features)] = cov_matrix['s'][features[i]]
        a[len(features)][i] = cov_matrix['s'][features[i]]
        b[i] = cov_matrix['Q'][result][features[i]]
    
    b[len(features)] = cov_matrix['s'][result]
    
    a[len(features)][len(features)] = cov_matrix['c']
    
    
    return np.linalg.solve(a, b)

# def square_error(cov_matrix, features, result, parameter):
#     se = cov_matrix['Q'][result][result]
    
#     for i in range(len(features)):
#         for j in range(len(features)):
#             se += parameter[i] * parameter[j] * cov_matrix['Q'][features[i]][features[j]]
    
#     for i in range(len(features)):
#         se += 2 * parameter[i] * parameter[-1] * cov_matrix['s'][features[i]]
#         se -= 2 * parameter[i] *  cov_matrix['Q'][features[i]][result]
    
#     se -= 2 * parameter[-1] * cov_matrix['s'][result]
#     se += cov_matrix['c'] * parameter[-1] * parameter[-1]
    
#     return se

# def total_sum_of_square(cov_matrix, result):
#     return cov_matrix['Q'][result][result] - cov_matrix['s'][result] * cov_matrix['s'][result] / cov_matrix['c']

# def mean_squared_error(cov_matrix, features, result, parameter):
#     return square_error(cov_matrix, features, result, parameter)/cov_matrix['c']


# def r2(cov_matrix, features, result, parameter):
#     return 1 - square_error(cov_matrix, features, result, parameter)/total_sum_of_square(cov_matrix, result)

# def adjusted_r2(cov_matrix, features, result, parameter):
#     return 1 - (cov_matrix['c']-1)*(1 - r2(cov_matrix, features, result, parameter))/(cov_matrix['c'] - len(parameter) - 1)

In [75]:
%%time
e = dict()

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.15 µs

In [82]:
%%time
gender["cov"] = gender.apply(lambda row: cov.lift(row, "gender", ["Mean Scale Score", "Number Tested"]), axis=1)

CPU times: user 2.16 s, sys: 4.43 ms, total: 2.16 s
Wall time: 2.16 s

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.