In [1]:
from datamarket import *

In [2]:
# star schema
# number of dimensions
dimensions = 4
# size of each dimension
# assume each dimension has one attribute
dimensions_size = 20
# sparsity of fact table
# sparse = 0.3

In [59]:
# 1st dimension is A, 2nd dimension is B, ...
def get_dimension_name(d):
    return chr(ord('A') + d)

def generate_dimension_table(d):
    name = get_dimension_name(d)
    df = pd.DataFrame()
    df[name] = range(dimensions_size)
    df[name + "_att"] = choices(range(50), k=dimensions_size)
    return df

In [60]:
dimention_tables = []
for i in range(dimensions):
    dimention_tables.append(generate_dimension_table(i))

fact_table = pd.DataFrame()
for d in range(dimensions):
    name = get_dimension_name(d)
    fact_table[name] = [item for item in range(dimensions_size) for i in range(pow(dimensions_size,d))] * pow(dimensions_size,dimensions - 1 - d)
# fact_table = fact_table.sample(frac=sparse, replace=True, random_state=1)

# join fact table with dimension tables
join_result = None
for i in range(dimensions):
    if i == 0:
        join_result = pd.merge(fact_table, dimention_tables[0])
    else:
        join_result = pd.merge(join_result, dimention_tables[i])

In [61]:
# randomly generated coefficients as ground truth
coefficients = choices(range(50), k=dimensions)
constant = choices(range(50), k=1)
print(coefficients, constant)

join_result["result"] = constant[0]
for i in range(dimensions):
    name = get_dimension_name(i)
    join_result["result"] += coefficients[i] * join_result[name + "_att"]
join_result

[42, 44, 45, 6] [16]

         A   B   C   D  A_att  B_att  C_att  D_att  result
0        0   0   0   0     23      3     14     16    1840
1        1   0   0   0     45      3     14     16    2764
2        2   0   0   0     39      3     14     16    2512
3        3   0   0   0     15      3     14     16    1504
4        4   0   0   0     43      3     14     16    2680
...     ..  ..  ..  ..    ...    ...    ...    ...     ...
159995  15  19  19  19     47     22     43      8    4941
159996  16  19  19  19     30     22     43      8    4227
159997  17  19  19  19     48     22     43      8    4983
159998  18  19  19  19     49     22     43      8    5025
159999  19  19  19  19      3     22     43      8    3093

[160000 rows x 9 columns]

In [62]:
join_result = join_result.loc[:, join_result.columns != 'A_att']
join_result

         A   B   C   D  B_att  C_att  D_att  result
0        0   0   0   0      3     14     16    1840
1        1   0   0   0      3     14     16    2764
2        2   0   0   0      3     14     16    2512
3        3   0   0   0      3     14     16    1504
4        4   0   0   0      3     14     16    2680
...     ..  ..  ..  ..    ...    ...    ...     ...
159995  15  19  19  19     22     43      8    4941
159996  16  19  19  19     22     43      8    4227
159997  17  19  19  19     22     43      8    4983
159998  18  19  19  19     22     43      8    5025
159999  19  19  19  19     22     43      8    3093

[160000 rows x 8 columns]

In [92]:
# repeat dimensional table multiple times
dup = 4
aug = dimention_tables[0].append([dimention_tables[0]]*dup,ignore_index=True)

In [71]:
test = agg_dataset()
test.load_buyer(join_result, [get_dimension_name(i) + "_att" for i in range(1,dimensions-1)], "result", [get_dimension_name(i) for i in range(dimensions-1)], "test")
test.compute_agg()

/home/jupyter/arda/arda-datasets/school/datamarket.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data[att] = pd.to_numeric(self.data[att],errors="coerce")

In [93]:
dima = agg_dataset()
dima.load_seller(aug, ["A"], "A",False)
dima.compute_agg(True)

/home/jupyter/arda/arda-datasets/school/datamarket.py:157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data['cov:c'] = 1
/home/jupyter/arda/arda-datasets/school/datamarket.py:161: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data['cov:Q:' + tablename + ":" + attributes[i] + ","+ tablename + ":" + attributes[j]] = self.data[attributes[i]] * self.data[attributes[j]]

In [66]:
def connect(aggdata1, aggdata2, dimension, left_inp = False, right_attrs = []):
    
    if isinstance(dimension, list):
        dimension = tuple(dimension)
    
    if left_inp:
        agg1 = aggdata1.data
    else:
        agg1 = aggdata1.agg_dimensions[dimension]
        
    agg2 = aggdata2.agg_dimensions[dimension]
    
    left_attributes = aggdata1.X
    left_tablename = aggdata1.name
    right_attributes = aggdata2.X
    right_tablename = aggdata2.name
    
    if len(right_attrs) > 0:
        kept_cols = []
        for col in agg2.columns:
            names = col[6:].split(",")
            match = True
            for name in names:
                if name not in right_attrs:
                    match = False
            if match:
                kept_cols.append(col)
        agg2 = agg2[kept_cols + ['cov:c']]
        right_attributes = right_attrs
    
    
    if left_inp:
        join = pd.merge(agg1, agg2.loc[:, agg2.columns != 'cov:c'], how='left', left_on=dimension, right_index=True)
    else:
        join = pd.merge(agg1, agg2.loc[:, agg2.columns != 'cov:c'], how='left', left_index=True, right_index=True)
#         join = pd.merge(agg1, agg2, how='inner', left_index=True, right_index=True)
#     join = join.drop('cov:c_y', 1)
#     join = join.rename(columns = {'cov:c_x':'cov:c'})
    
    right_cov = aggdata2.covariance

    
    # fill in nan
    for att2 in right_attributes:
        join['cov:s:' + att2].fillna(value=right_cov['cov:s:' + att2], inplace=True)
        join['cov:s:' + att2] *= join['cov:c']
    
    for i in range(len(right_attributes)):
        for j in range(i, len(right_attributes)):
            if 'cov:Q:' + right_attributes[i] + "," + right_attributes[j] in join:
                join['cov:Q:' + right_attributes[i] + "," + right_attributes[j]].fillna(value=right_cov['cov:Q:' + right_attributes[i] + "," + right_attributes[j]], inplace=True)
                join['cov:Q:' + right_attributes[i] + "," + right_attributes[j]] *= join['cov:c']
            else:
                join['cov:Q:' + right_attributes[j] + "," + right_attributes[i]].fillna(value=right_cov['cov:Q:' + right_attributes[j] + "," + right_attributes[i]], inplace=True)
                join['cov:Q:' + right_attributes[j] + "," + right_attributes[i]] *= join['cov:c']
            
    
    
    for att1 in left_attributes:
        for att2 in right_attributes:
            if 'cov:Q:' + att1 + "," + att2 in join:
                join['cov:Q:' + att1 + "," + att2] = join['cov:s:' + att1] * join['cov:s:' + att2]/join['cov:c']
            else:
                join['cov:Q:' + att2 + "," + att1] = join['cov:s:' + att2] * join['cov:s:' + att1]/join['cov:c']
    
    
    return join

In [95]:
%%time
join_test = connect(test, dima, "A")
join_test_cov = join_test.sum()
parameter = linear_regression(join_test_cov,["A:A_att"] + ["test:" + get_dimension_name(i) + "_att" for i in range(1, dimensions-1)], "test:result")
r2(join_test_cov, ["A:A_att"] + ["test:" + get_dimension_name(i) + "_att" for i in range(1, dimensions-1)],"test:result", parameter)

CPU times: user 10.5 ms, sys: 2.85 ms, total: 13.3 ms
Wall time: 11 ms

0.9957306245485813

In [98]:
%%time
join_naive = pd.merge(join_result, aug, how='inner', left_on = 'A', right_on = 'A')
reg = LinearRegression().fit(join_naive[[get_dimension_name(i) + "_att" for i in range(dimensions-1)]], join_naive[["result"]])
r2_score(join_naive[["result"]],reg.predict(join_naive[[get_dimension_name(i) + "_att" for i in range(dimensions-1)]]))

CPU times: user 212 ms, sys: 128 ms, total: 340 ms
Wall time: 266 ms

0.9957306245485857

In [48]:
join_naive

        A   B   C  B_att  C_att  result  A_att
0       0   0   0      7     43    1925     43
1       0   0   0      7     43    1925     43
2       0   0   0      7     43    1925     43
3       0   0   0      7     43    1925     43
4       0   0   0      7     43    1925     43
...    ..  ..  ..    ...    ...     ...    ...
39995  19  19  19     36     26    1244      5
39996  19  19  19     36     26    1244      5
39997  19  19  19     36     26    1244      5
39998  19  19  19     36     26    1244      5
39999  19  19  19     36     26    1244      5

[40000 rows x 7 columns]

In [ ]:
Test performae for size of dimension.
Test performance for many-to-many join.
Test PCA.
Maybe backward selection?
Decimal?

assume each dimension has 20 attributes.
2
10.6 ms vs 12.6 ms
3
11.2 ms vs 19.8 ms
4
12.4 ms vs 52.2 ms
5
12.9 ms vs 1.26 s

duplicate
1: 11.7 ms vs 97.1 ms
2: 12.2 ms vs 123 ms
3: 8.33 ms vs 172 ms
4: 10.5 ms vs 212 ms

In [ ]:
For PCA standardize them to mean/std (0,1)

One problem with PCA: missing join keys.